<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>B4B - Soluções Tecnologia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.js"></script>
    <script src="js/init.js"></script>
    <script src="js/jquery_script.js"></script>

</head>

<body onload="preenche()">
<div id="conteudo"></div>
<hr>


<!--

Init
CodeBlocks

Serviços Propostos pela B4Bits

Mapa da rede interna.
Divisão da rede em lans seguras.
Configuração de Roteamento para VPN.

Implantação de Firewall com Pfsense
Criação da política de acessos
Implantação de Proxy com Squid

Sistema de Arquivos em Cloud com o Samba
Autenticação com o Zentyal

Migração de Serviços Locais para Cloud
Implantação de Serviço de Voip com o Asterisk


Monitoramento da Infra com Zabbix
Backup Cloud
Disaster Recovery

-->
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>CATÁLOGO DE SERVIÇOS DE TI</h1>
            <hr>
            <img src="static/img/Catalogos-de-Serviços-de-TI.png" class="img-fluid my-3" alt="Catalogos Serviço TI">
            <p>
            Parte fundamental da prestação de serviços em tecnologia, o catálogo de serviços de TI ajuda a documentar
            — geralmente de forma eletrônica — e gerenciar os serviços que a área de TI se compromete a entregar.
            Se, na ponta final da cadeia, o usuário apenas usufrui dos serviços prestados pela sua empresa,
            no início do processo, esses serviços são sustentados por uma infraestrutura de TI que precisa garantir todas essas entregas.
            </p>
            <p>
            Tente imaginar a seguinte situação: um cliente contrata um serviço de e-mail.
            Descrever e explicar que o correio eletrônico depende de vários itens de configuração,
            desde um cluster de servidores a um serviço anti-spam, por exemplo, é apenas importante para os usuários da área de TI
            e não impacta a ponta do negócio que só precisa ver o e-mail funcionando.
            </p>
            <p>
            Entretanto, essas informações são fundamentais para que a equipe de suporte solucione incidentes e problemas.
            Equilibrar que tipo de informação será repassada ao cliente para que ele faça uso adequado dos recursos da
            sua empresa é o ideal na construção de um catálogo de serviços.
            </p>
            <br>
            <h3 class="mb-5">Serviços Propostos pela B4Bits</h3>
        </div>
        <!-- Primeiro Bloco de Serviços -->
        <div id='servico-0' class="col-md-4"></div>
        <div id='servico-1' class="col-md-4"></div>
        <div id='servico-2' class="col-md-4"></div>

    </div>
    <div class="row my-5">
        <div id="servico-3" class="col-md-4"></div>
        <div id="servico-4" class="col-md-4"></div>
        <div id="servico-5" class="col-md-4"></div>
    </div>
    <div class="row my-5">
        <div class="col-md-2"></div> <!-- Div para Organização-->
        <div id="servico-6" class="col-md-4"></div>
        <div id="servico-7" class="col-md-4"></div>
        <div class="col-md-2"></div> <!-- Div para Organização-->
    </div>
    <div class="row my-5">
        <div class="col-md-2"></div> <!-- Div para Organização-->
        <div id="servico-8" class="col-md-4"></div>
        <div id="servico-9" class="col-md-4"></div>
        <div class="col-md-2"></div> <!-- Div para Organização-->
    </div>
    <div class="row my-5">
        <div id="servico-10" class="col-md-4"></div>
        <div id="servico-11" class="col-md-4"></div>
        <div id="servico-12" class="col-md-4"></div>
    </div>


<hr>
</div>

<div id="rodape"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
